<div class="col-md-8">
  <h2>Login</h2>
  <i>For a demo, enter username: <b>Test</b> and password: <b>password</b></i>
  <form ng-controller="loginController">
    <div class="form-group">
      <input class="form-control" type="text" ng-model="user.username" placeholder="username" />
    </div>
    <div class="form-group">
      <input class="form-control" type="password" ng-model="user.password" placeholder="password"  />
    </div>
    <button class="btn btn-default" ng-click='login(user)'>Submit</button>
  </form>
</div>
