<div class="center-block" ng-controller='classroomController'>
  <h2>Classroom</h2>
  <h4>{{thisClass}}</h4>

  <div class="center-block" id="classlist">
    <button ng-click="getStudents()">Get Students</button>
    <table class="table">
      <tr>
        <td><b>Name</b></td>
        <td><b>Average</b></td>
        <td><b>Referrals</b></td>
      </tr>
      <tr ng-repeat='eachStudent in classStudents.data | orderBy:sortOrder'>
        <td>{{eachStudent.firstName}} {{eachStudent.lastName}}</td>
        <td>{{eachStudent.average}}</td>
        <td>{{eachStudent.referrals}}</td>
      </tr>
    </table>
  </div>
  <form class="container">
    <div class="form-group  col-md-2">
      <input class="form-control" type="text" ng-model="student.firstName" placeholder="First Name" />
    </div>
    <div class="form-group  col-md-2">
      <input class="form-control" type="text" ng-model="student.lastName" placeholder="Last Name" />
    </div>
    <div class="form-group col-md-2">
      <input class="form-control" type="text" ng-model="student.average" placeholder="Average Grade" />
    </div>
    <div class="form-group col-md-2">
      <input class="form-control" type="text" ng-model="student.referrals" placeholder="Behavior Referrals" />
    </div>
    <button class="btn btn-default" ng-click='addStudent(student)'>submit</button>
  </form>
  <br /><br />
  Sort By:
  <button class="btn btn-default" ng-click="setOrder('firstName')">First Name</button>
  <button class="btn btn-default" ng-click="setOrder('lastName')">Last Name</button>
  <button class="btn btn-default" ng-click="setOrder('average')">Average</button>
  <button class="btn btn-default" ng-click="setOrder('referrals')">Referrals</button>
  <br /><br />

  <form class="col-md-2">
      <input class="form-control" type="text" ng-model="rows" placeholder="Number of rows"/>
      <button class="btn btn-default" ng-click="setRows(rows)">Make Chart</button>
  </form>

  <div class="center-block" id="seatingChart"  ng-style="seatingChart">
    <div ng-repeat="eachStudent in classStudents.data | orderBy:sortOrder" ng-style='desks'>
      {{eachStudent.firstName}} {{eachStudent.lastName}}
    </div>
  </div>
</div>
