<div ng-controller='classroomController'>
  <h2>CLASSROOM</h2>
  <h4>{{thisClass}}</h4>

  <div id="classlist">
    <button ng-click="getStudents()">Get Students</button>
    <table border='1px'>
      <tr>
        <td><b>Name</b></td>
        <td><b>Average</b></td>
        <td><b>Referrals</b></td>
      </tr>
      <tr ng-repeat='eachStudent in classStudents.data | orderBy:sortOrder'>
        <td>{{eachStudent.firstName}} {{eachStudent.lastName}}</td>
        <td>{{eachStudent.average}}</td>
        <td>{{eachStudent.referrals}}</td>
      </tr>
    </table>
  </div>
  <form >
    <input type="text" ng-model="student.firstName" placeholder="First Name" />
    <input type="text" ng-model="student.lastName" placeholder="Last Name" />
    <input type="text" ng-model="student.average" placeholder="Average Grade" />
    <input type="text" ng-model="student.referrals" placeholder="Behavior Referrals" />
    <button ng-click='addStudent(student)'>submit</button>
  </form>
  Sort By:
  <button ng-click="setOrder('firstName')">First Name</button>
  <button ng-click="setOrder('lastName')">Last Name</button>
  <button ng-click="setOrder('average')">Average</button>
  <button ng-click="setOrder('referrals')">Referrals</button>

  <pre>
    {{ classStudents.data | json }}
  </pre>
</div>
